<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<header class="main-header" id="headerbar">
    <script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/plugins/jQueryUI/jquery-ui.min.js}"></script>
    <a href="/indexpage" class="logo">
        <span class="logo-mini">数据</span>
        <span class="logo-lg">疫情信息管理</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
           role="button"> <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu"><a href="#"
                                                       class="dropdown-toggle" data-toggle="dropdown"> <img
                        th:src="@{/img/user2-160x160 (2).jpg}"
                        class="user-image" alt="User Image"> <span class="hidden-md">
							  <span sec:authentication="name"></span>
					</span>
                </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header"><img
                                th:src="@{/img/user2-160x160 (2).jpg}"
                                class="img-circle" alt="User Image"></li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="/logout"
                                   class="btn btn-default btn-flat">退出</a>
                            </div>
                        </li>
                    </ul></li>

            </ul>
        </div>
    </nav>
</header>
<!--侧边栏-->
<aside class="main-sidebar" id="sidebar" style="height: 100%">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/img/user2-160x160 (2).jpg}"
                     class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>
                    <span sec:authentication="name"></span>
                </p>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">菜单</li>
            <li id="admin-index">
                <a href="/indexpage">
                    <i class="fa fa-dashboard"></i> <span>系统首页</span>
                </a>
            </li>

            <li id="fa fa-laptop"><a
                    href="/checkOut/toAdd"><i
                    class="fa fa-laptop"></i> <span>个人打卡</span></a>
            </li>
            <li id="fa fa-edit"><a href="/checkOut/list"><i class="fa fa-edit"></i> <span>人员打卡总记录</span></a>
            </li>


                <ul class="treeview-menu">
                    <li id="system-setting1">
                        <a href="/manager/list/"> <i class="fa fa-circle-o"></i> 用户管理</a>
                    </li>
                </ul>

            </li>
            <li class="treeview"><a href="#"> <i class="fa fa-cube"></i>
                <span>疫情人员管理</span> <span class="pull-right-container"> <i
                        class="fa fa-angle-left pull-right"></i>
				</span>
            </a>
                <ul class="treeview-menu">
                    <li id="system-setting6"><a href="/touch/list">
                        <i class="fa fa-circle-o"></i> 密切接触者管理
                    </a></li>
                    <li id="system-setting5"><a
                            href="/patient/list">
                        <i class="fa fa-circle-o"></i> 确诊患者管理
                    </a></li>
                    <li id="system-setting7"><a
                            th:href="@{/dead/list}"> <i
                            class="fa fa-circle-o"></i> 死亡管理
                    </a></li>
                    <li id="system-setting8"><a
                            th:href="@{/cure/list}"> <i
                            class="fa fa-circle-o"></i> 治愈管理
                    </a></li>

                </ul></li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!--顶部栏-->
<div class="main-header" id="headbar">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="blue">

        <a href="../index.html" class="logo">
            <img th:src="@{assets/img/logo.svg}" alt="navbar brand" class="navbar-brand">
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div>
    </div>
    <!-- End Logo Header -->

</div>
